<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" />
</head>
<body>
    {{#post}}
        <table class="table table-horizontal table-bordered">
            <thead>
                <tr>
                    <td class="table-light"> 제목 </td>
                    <td colspan="100%"> {{title}} </td>
                </tr>
                <tr>
                    <td class="table-light"> 작성일 </td>
                    <td> {{createdDate}} </td>
                    <td class="table-light"> 수정일 </td>
                    <td> {{modifiedDate}} </td>
                </tr>
                <tr class="table-light">
                    <td colspan="100%"> 첨부파일 목록 </td>
                </tr>
                <tr>
                    <td id="file-container" colspan="100%"> 첨부파일 없음 </td>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <td colspan="100%"> 내용 </td>
                </tr>
                <tr>
                    <td colspan="100%"> {{content}} </td>
                </tr>
            </tbody>
        </table>
    {{/post}}


    <!-- bootstrap + jquery 추가 -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!-- 내부 로직 추가 -->
    <script src="/js/app/post.js"></script>
</body>
</html>